    <div  class="container-fluid" align="center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav" align="center">
          <br/>
          <li class="nav-item">
            <a routerLink="view-employee" class="nav-link" class="btn btn-primary active" role="button" >View All Employee List</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;
          <br/>
          <li class="nav-item">
            <a  routerLink="add-employee" class="nav-link" class="btn btn-primary active" role="button" >Add Employee</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;
          <br/>
          <li class="nav-item">
            <a  routerLink="add-employee-techskilllist" class="nav-link" class="btn btn-primary active" role="button" >Add Technical Skill</a>
          </li> &nbsp;&nbsp;&nbsp;&nbsp;
          <br/>
          <li class="nav-item">
            <a  routerLink="delete-employee-techskilllist" class="nav-link" class="btn btn-primary active" role="button" >Delete Technical Skill</a>
          </li>     &nbsp;&nbsp;&nbsp;&nbsp;
          <br/>
          <li class="nav-item">
            <a  routerLink="add-employee-nontechskilllist" class="nav-link" class="btn btn-primary active" role="button" >Add Employee Non-Technical Skill</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;
          <br/>
          <li class="nav-item">
            <a  routerLink="delete-employee-nontechskilllist" class="nav-link" class="btn btn-primary active" role="button" >Delete Employee Non-Technical Skill</a>
          </li>  &nbsp;&nbsp;&nbsp;&nbsp;        
          <br/>
        </ul>
      </nav>  
        <router-outlet></router-outlet>
    </div>
    